apiVersion: v1
kind: Service
metadata:
  name: mongodb
spec:
  type: NodePort
  selector:
    app: mongodb
  ports:
    - name: http
      protocol: TCP
      port: 27017
      targetPort: 27017
      nodePort: 31234